* {
	font-family: "Source Sans Pro", sans-serif;
}

.center {
	text-align: center;
}

#popup {
	width: 85%;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

#loader {
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: white;
	text-align: center;
	padding-top: 100px;
}

input {
	width: 80%;
	max-width: 550px;
	font-size: 1.2em;
}

#results {
	display: none;
	margin: auto;
	width: 90%;
	max-width: 700px;
}

.features {
	margin-top: 0px;
	padding-left: 20px;
}

code {
	font-family: "Source Code Pro", monospace;
	font-size: 0.95em;
}
